.navbar{
    background: rgba(0,0,0,0.8);
    margin-bottom: 30px;
}
.nav-link {
    color: #f5f5f7 !important;
    opacity: 0.8;
}
.navbar-brand{
    color: #f5f5f7 !important;
    opacity: 0.8;
}
.nav-link:hover{
    color: #f5f5f7 !important;
    opacity: 1;
}
.navbar-brand:hover{
    color: #f5f5f7 !important;
    opacity: 1;
}